<header>
    <h3>About</h3>
</header>

<p>
    The National Rugby League (NRL), formed in 1998, is the pre-eminent rugby league club competition in Australia and New Zealand. It contains some clubs from the original Sydney club Rugby League competition, which had been running continuously since 1908. A single team from New Zealand also plays in the league. The NRL formed in the aftermath of the 1990s' Super League war as a joint partnership between the Australian Rugby League (ARL) and media giant News Corporation-controlled Super League, after both organisations ran premierships parallel to each other in 1997. This partnership was dissolved in February 2012, with control of the NRL going solely to the re-constituted ARL which was re-structured with an independent board of directors and renamed as the Australian Rugby League Commission.
</p>
<p>
    NRL matches are played in Australia and New Zealand from March to October. The season culminates in the premiership-deciding game, the NRL Grand Final, traditionally one of Australia's most popular sporting events. In addition, the NRL premiers also play in the World Club Challenge against the champions of the Super League competition. The reigning premiers are the Penrith Panthers, having won their third premiership at the conclusion of the 2021 season.
</p>

<img src="https://upload.wikimedia.org/wikipedia/en/2/26/National_Rugby_League_Logo.png" alt="nrl logo" class="home_logo">
