<header>
    <h3>Add New Team to Database</h3>
</header>

<form action="/teams" method="post">

    <label>
        Team Name:
        <input type="text" name="team_name">
    </label>
    <br>
    <label>
        Home Ground:
        <input type="text" name="home_ground">
    </label>
    <br>
    <label>
        State:
        <input type="text" name="state">
    </label>
    <br>
    <label>
        Founded:
        <input type="text" name="founded">
    </label>
    <br>
    <label>
        Premierships:
        <input type="text" name="premierships">
    </label>
    <br>
    <label>
        Still Active:
        <input type="text" name="still_active" placeholder="1 for YES, 0 for NO">
    </label>
    <br>
    <label>
        Club Logo:
        <input type="text" name="club_logo_url">
    </label>
    <br>

    <button>Add Team</button>

</form>