<h3>WELCOME TO MAGIC 8 BALL<h3>

  <form action="/magicball/results">
    <label class='question'>Ask a question</label>
    <input type='text' name='question'>
    <button>submit</button>
  </form>



