<h1>Dashboard</h1>


<div id="uptime">
<h2>System Uptime:</h2>
    <em>Loading...</em>
</div>

<h2>Biggest CPU hog:</h2>
<div id="hog">
    <em>Loading...</em>
</div>

<h2>Index of Messages</h2>
<ul id="messagesIndex">
    <em>Loading...</em>
</ul>
