
<h3>Add Artist</h3>

<form action="/artists" method="post">

<label>
    Name:
    <input type="text" name="name" value="">
</label>
<br>

<label>
    Birth:
    <input type="text" name="birth_year" value="">
</label>
<br>

<input type="submit" value="add">

</form>