<h3>ADD AN ALBUM</h3>

<form action="/albums" method="post">

<label>
    Name:
    <input type="text" name="name">
</label>
<br>
<label>
    artist id:
    <input type="text" name="artist_id">
</label>
<br>

<label>
    Genre:
    <input type="text" name="genre">
</label>
<br>
<label>
    Description:
    <input type="text" name="description">
</label>
<br>
<label>
    Release Year:
    <input type="text" name="release">
</label>
<br>
<label>
    Album art
    <input type="text" name="album_art">
</label>
<br>
<label>
    Grammy Winner (1 yes, 0 no):
    <input type="text" name="grammy_winner">
</label>
<br>


<button>ADD ALBUM TO ARCHIVE</button>








</form>