<section class="container">

    <div class="content-center">
        <div class="title"> <h1> The ball has spoken!</h1> </div>
        <div class="message"><%= @question %></div> 
        <div class="message"> <%= @result %> </div>
     </div>
</section>