
<section class="container">

    <div class="content-center">
        <div class="title"> <h1>Mgic 8 Ball</h1> </div> 
        <form action="magic" class="magic-form">
            <label for="">Enter Your Question</label>
            <input type="text" name="question" id="question">
            <input type="submit">
        </form>
     </div>

</section>