<html>  
    <head>
        <title>Lucky Number</title>
    </head>

<h1>Your Lucky Number</h1>

<p> Your lucky number is: <strong> <%= rand 100 %> </strong></p>

<% #this is an ERB comment %>

</html>