<h3>Search By Title</h3>

<form action="/search/results">

    <label>
        
        <input type="text" name="title" id="input_text">
    </label><br>
    <button id="search_button">Search</button>

</form>