
<h2>Pick a random number between 0 and 10 and we will see if it is the same as ours</h2>
<form action="/answer">
  <label for="">
    Random number 
    <br>
    <input type="text" name="number">  
  </label>
  <br>
  <button>Check number</button>

</form>