<h2>Rock Paper Scissors</h2>
<form action="/rock_paper_scissors/result">
  <button type="submit" name="user_input" value="rock">Rock</button>
  <button type="submit" name="user_input" value="paper">Paper</button>
  <button type="submit" name="user_input" value="scissors">Scissors</button>
</form>