
<!doctype html>
<html>
<head>
    <title>Lucky number</title>
</head>
<body>
    <h1>Lucky Number!</h1>
    <p>Here is your lucky number: 
        <strong><%= @number %></strong>
    </p>
</body>
</html>

Hello World!!!!!!!