<h2>The Magic 8 Ball</h2>
<hr>
<nav>
    <a href="/">Home</a>
    |
    <a href="/secretnumber">Secret Number</a>
    |
    <a href="/rps">Rock Paper Scissors</a>
</nav>
<hr>

<form action="/magic8ball/answer">
    <label>
        Ask the Magic 8 Ball your question:
        <br>
        <input type="text" name="question">
    </label>
    <br>
    <button>Get Result</button>
</form>