<h3>Add New Author</h3>

<form action="/authors" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  <label>
    Birth Date:
    <input type="text" name="birthday">
  </label>
  <br>
  <label>
    Age:
    <input type="text" name="age">
  </label>
  <br>
  <label>
    Nationality:
    <input type="text" name="nationality">
  </label>
  <br>
  <label>
  Image URL:
  <input type="text" name = "image_url">
  </label>
<br>

<input type="submit" value="Add">

</form>