<h3>Add New Manga Page</h3>

<form action="/mangabooks" method="post">
<label>
Name:
<input type="text" name = "name">
</label>
<br>
<label>
Volumes:
<input type="text" name = "volumes">
</label>
<br>
<label>
End(1 for yes, 0 for no):
<input type="text" name = "end">
</label>
<br>
<label>
Image URL:
<input type="text" name = "image_url">
</label>
<br>

<button>Add New Manga</button>

</form>