<h3>WELCOME TO MY BINGE LIBRARY</h3>



<img src="https://64.media.tumblr.com/7b91cb36878492729aa280517db1f4e3/tumblr_nrt4c7A5jK1s8njeuo1_500.gifv" class = "home_image" alt="Movie Time">

<img src="https://i0.wp.com/data.photofunky.net/output/image/d/1/9/d/d19da6/photofunky.gif" class = "home_image" alt="Movie Time">