<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Binge Library</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
<h1>My Binge Library</h1>

<a href="/">Home</a>
|
<a href="/movies">Movies</a>
|
<a href="/dramas">Dramas</a>
|
<a href="/shows">Shows</a>

<hr>
</nav>    

<section>
<%= yield %>

</section>


<footer>
    <hr>
    &copy; Angela Zhang 2022
</footer>

</body>
</html>