

<h3>Add New Owner</h3>

<form action="/owners" method="post">

<label>
    Name:
    <input type="text" name="name" value="">
</label>
<br>

<label>
    Email:
    <input type="text" name="email" value="">
</label>
<br>

<input type="submit" value="add">

<!-- -->

</form>