

<h3>All owners</h3>

<ul>
    <% @owners.each do |owner|  %>
        <li>
            <a href="/owners/<%=owner.id%>">
            <%= owner.name %>
            </a>
        </li>
    <% end %>
</ul>