#container {
    padding: 40px;
    font-size: 12px;
    line-height: 17px;
    font-family: "Times New Roman", serif;
    color: #656565;
    max-width: 1000px;
}


/* p,
img {
    width: 80%;
} */

#header-imgs {
    width: 100%;
}

#brands img {
    width: 20%;
    border: 3px solid grey;
}

a,
h3 {
    color: rgb(97, 172, 233);
}

a:hover {
    color: #20222a;
}

#Copyright {
    padding-bottom: 0px;
    margin-bottom: 0px;
}