<h3>Add new Manufacturer</h3>

<form action="/manufacturers" method="post">

    <label>
        Name:
        <br>
        <input type="text" name="name" value="">
    </label>
    <label>
        Country:
        <br>
        <input type="text" name="country" value="">
    </label>
    <label>
        Founded:
        <br>
        <input type="text" name="founded" placeholder="(YYYY)" value="">
    </label>
    <label>
        Active:
        <br>
        <input type="text" name="active" placeholder="1 for YES, 0 for NO" value="">
    </label>
    <label>
        Logo URL:
        <br>
        <input type="text" name="logo_url" value="">
    </label>

    <input type="submit" value="Add Manufacturer">

</form>