<h3>Add New Car</h3>

<form action="/cars" method="post">
    Manufacturer:
    <label>
        <select name="manufacturer_id">
            <% Manufacturer.all.each do |maker| %>
            <option value="<%= maker.id %>"><%= maker.name %></option>
            <% end %>
        </select>
    </label>
    <label>
        Model:
        <br>
        <input type="text" name="model">
    </label>
    <label>
        Body Type:
        <br>
        <input type="text" name="body_type" placeholder="e.g 5-door Sedan">
    </label>
    <label>
        Entered Market:
        <br>
        <input type="text" name="entered_market" placeholder="(YYYY)">
    </label>
    <label>
        Still in Production?:
        <br>
        <input type="text" name="in_production" placeholder="1 for YES, 0 for NO">
    </label>
    <label>
        Photo URL:
        <br>
        <input type="text" name="photo_url">
    </label>
    <br>

    <button>Add Car</button>

</form>