<h3>Rental Listings</h3>
<a href="/rental/new">Add Listing</a>
<ul>
    <% @rentals.each do |rental| %>
        <li>
            <a href="/rental/<%= rental['id']%>"><%= rental['street_address'] %></a>
        </li>
    <% end %>
</ul>


