<h3>Add a new rental</h3>

<form action="/rental" method="post">

    <label>
        Street Address:
        <input type="text", name="street_address">
    </label>
    <br>

    <label>
        Suburb:
        <input type="text", name="suburb">
    </label>
    <br>

    <label>
        Cost (weekly):
        <input type="text", name="cost">
    </label>
    <br>

    <button>Submit</button>
</form>