<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GA MUSIC</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
    <h1>GA MUSIC</h1>
    <a href="/">Home</a>
    |
    <a href="/albums">Album</a>
    |
    <a href="/albums/new">Add Album</a>
    </nav>
    <hr>
    <section>
        <%= yield %>
    </section>
    <hr>
    <footer>&copy; GA MUSIC PRODUCTION 2022</footer>
</body>
</html>