header {
  padding: 20px;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
  align-items: center;
}

form {
  display: block;
  width: fit-content;
  margin: 0 auto;
}

input {
  width: 480px;
  padding: 8px;
}

button {
  padding: 8px;
}

.result-container {
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

li {
  display: grid;
  grid-template-rows: 190px 160px auto;
}

li img {
  width: 100%;
  background: rgb(185, 185, 185);
}

li p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
