<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paintings Database</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <nav>
        <h1>Paintings Database</h1>
        <a href="/">Home</a>
        |
        <a href="/paintings">Paintings</a>
        |
        <a href="/paintings/new">New Painting</a>
    </nav>
    <hr>

    <section>
        <%= yield %>
    </section>

    
</body>
</html>