<h3>Add New Painting</h3>

<form action="/paintings" method="post">
    <label>
        Painting Title:
        <input type="text" name="name">
    </label>
    <br>

    <label>
        Artist:
        <input type="text" name="artist">
    </label>
    <br>

    <label>
        Year Made:
        <input type="text" name="year">
    </label>
    <br>

    <label>
        Movement:
        <input type="text" name="movement">
    </label>
    <br>

    <label>
        Medium:
        <input type="text" name="medium">
    </label>
    <br>

    <label>
        Image URL:
        <input type="text" name="image_url">
    </label>
    <br>

    <label>
        Description:
        <input type="text" name="description">
    </label>
    <br>
   
<button>Add Painting</button>
</form>