body{
  background-image: url(https://wallpaperaccess.com/full/434452.jpg);
  background-size: cover;
  color: white;
  font-family: 'Quicksand';

}
h1{
  font-family: 'Roboto Slab';
}
.gundams_image{
  max-height: 40vh;
}