<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/water_edited.css">
    <title>Movie Look</title>
</head>
<body>
    <header>
    <h1>Film Search</h1> 
    </header>

    <%= yield %>


</body>
</html>