
<img src="https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2019/12/03/Pictures/premiere-for-the-film-los-astra-angeles_871b594e-15a0-11ea-af95-104face44223.jpg" alt="brad_pitt">

<p><span>Name</span><br> Brad Pitt <br><br><span>Born</span><br> 18 December 1963  <br><br><span>Height</span><br> 1.8m<br><br><span>Years active</span><br> 1987 - present <br><br><span>Occupation</span><br>  Actor, Film producer </p>
