<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brad Pitt Filmography </title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>BRAD PITT</h1>
        
    </header>

    <div class="links">
        <a href="/" id="main_link">Home</a>
        <a href="/bradpitt" id="main_link">Filmography</a>
        <a href="/bradpitt/new" id="main_link">Add More Movies</a>
    </div>

    <div class="content">
        <%= yield %>
    </div>  
</body>
<footer>
    <p>Made by Cassie</p>
</footer>
</html>