<h2>Add more movies</h2>
<br>
<form action="/bradpitt" method="post">
    
    <label>
        Title<br>
        <input type="text" name="title">
    </label>
    <br>


    <label>
        Release Date <br>
        <input type="text" name="release">
    </label>
    <br>

    <label>
        Duration <br>
        <input type="text" name="duration">
    </label>
    <br>

    <label>
        Rating <br>
        <input type="text" name="rating">
    </label>
    <br>

    <label>
        Role <br>
        <input type="text" name="role">
    </label>
    <br>

    <label>
        Image URL <br>
        <input type="text" name="image_url">
    </label>
    <br>

    <button>Add movie</button>

</form>