<h3>Add a new Chef</h3>

<form action="/chefs" method="post">

  <label for="">
    Image URL:
    <input type="text" name="image_url">
  </label>
  <br>

  <label for="">
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label for="">
    How many years have they cooked for:
    <input type="text" name="years_cooking">
  </label>
  <br>

  <label for="">
    Cuisine:
    <input type="text" name="Cuisine">
  </label>
  <br>

  <button>Add Chef</button>
</form>