<h3>Edit Chef</h3>

<form action="/chefs" method="post">

  <label for="">
    Image URL:
    <input type="text" name="image_url" value="@chef.image_url">
  </label>
  <br>

  <label for="">
    Name:
    <input type="text" name="name" value="@chef.name">
  </label>
  <br>

  <label for="">
    How many years have they cooked for:
    <input type="text" name="years_cooking" value="@chef.years_cooking">
  </label>
  <br>

  <label for="">
    Cuisine:
    <input type="text" name="Cuisine" value="@chef.cuisine">
  </label>
  <br>

  <button>Edit Chef</button>
</form>