<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chef database</title>
</head>
<body>
<nav>
  <h1>Welcome to the Chef Database!</h1>
  |
  <a href="/">Home</a>
  |
  <a href="/chefs">Chefs</a>
  |
  <a href="/restaurants">Restaurants</a>
  |
  <a href="/chefs/new">Add Chef</a>
  |
  <a href="/restaurants/new">Add Restaurant</a>


  <hr>
</nav>

<section>
  <%= yield %>
</section>

<footer>
  <hr>
  &copy; Pay Chefs Properly FFS 2022
</footer>

</body>
</html>