<h3>Add a new Restaurant</h3>

<form action="/restaurants" method="post">

  <label for="">
    Name:
    <input type="text" name="name">
  </label>
  <br>

<label for="">
    Image URL:
    <input type="text" name="image_url">
  </label>
  <br>

  <label for="">
    Location:
    <input type="text" name="location">
  </label>
  <br>

  <label for="">
    Style:
    <input type="text" name="style">
  </label>
  <br>

  <label for="">
    Stars:
    <input type="text" name="stars">
  </label>
  <br>

  <button>Add Restaurant</button>
</form>