
<section class="container">

    <div class="content-center">
        <div class="title"> <h1>Guess Number</h1> </div> 
        <form action="guess/number" class="magic-form">
            <label for="">Enter Your Number</label>
            <input type="text" name="guess_number" id="guess_number">
            <input type="submit">
        </form>
     </div>

</section>