<section class="container">

    <div class="content-center">
        <div class="title"> <h1> <%= @message %></h1> </div>
        <div class="message"> Your Number: <%= @guess %></div> 
        <div class="message"> Answer: <%= @number %> </div>
     </div>
</section>