@import url('http://fonts.googleapis.com/css?family=Oleo+Script');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
 --primary-bg-color: #353535;
 --secondary-bg-color: #3C6E71;
 --light-color:#D9D9D9;
 --text-color: #333333;
 --error-color:#d62828;
 --success-color:#005F73;
}


html, body{
  background-color:var(--primary-bg-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}

#content {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

#nav {
  margin: 50px 0px;
}

#title {
  color: var(--light-color);
  font-family: 'Oleo Script', cursive !important;
  font-size: 50px;
}

#checking {
  float: left;
}

#savings {
  float: right;
}

.account {
  color: var(--light-color);
  background-color: var(--secondary-bg-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  padding:5px 20px 20px 20px;
}

.account h1{
  font-weight: 400 !important;
}

.balance {
  color:#333333;
  background-color:var(--light-color);
  border: 1px solid #676767;
  font-size: 50px;
  padding: 25px 0;
  margin-bottom: 10px;
}
 
.clear {
  clear: both;
}

input[type="text"]{
    border:0;
    background-color: transparent;
    border-bottom: 1px solid #333333;
    padding:3px;
    font-size: 14px;
    color: #D9D9D9;

}
::placeholder{
  font-size: 12px;
  font-weight: 100;
  color: var(--light-color);
}

input[type="text"]:focus{
  outline: none;
  
}

.zero {
  background-color: #F52F4F;
  color: #FFF;
}

.btn{
  display: inline-block;
  cursor: pointer;
  color:var(--light-color);
  font-size: 12px;
  padding: 6px;
  border:0;
  border-radius: 4px;
  background-color: transparent;
  border:1px var(--light-color) solid; 
}


.ga-atm{
  width: 50%;
  margin:auto;
}

.ga-atm h5{
  font-weight: 300;
}

.search-acc{
  border: 1px solid #333333 !important;
  color: #333333 !important;
}

.check-btn{
  padding: 15px 0px 0px 0px;
}

.alert {
  width: 52.5%;
  border-radius: 5px;
  padding: 10px;
  color:#FFFFFF;
  text-align: left;
  font-size: 14px;
  height: 15px;
  background-color: #d62828;
  margin:10px auto;
}

.bottom{
  margin:320px auto !important; 
}

.alert-success{
  background-color: var(--success-color);
  color:#FFFFFF
}

.alert-error{
  background-color: var(--error-color);
  color:#FFFFFF;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.broke{
  background-color: var(--error-color);
  color: var(--light-color);
}