<h3>Create a new rental Entry</h3>

<%# TODO: do form validation %>
<form action="/rental" method="post">

    <label>Street Address:</label>
    <input type="text" name="street_address">
    <br>

    <label>Suburb</label>
    <input type="text" name="suburb">
    <br>

    <label>Cost (Per week)</label>
    <input type="text" name="cost">
    <br>
    
    <button>Submit</button>
</form>
