nav {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%
}

nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}