<h1>Thrice a Game on Rails</h1>


<h2>Ask our 8 ball a question and see what fate has in store for you.....</h2>
<form action="/answer">
  <label for="">
    What is your question?
    <br>
    <input type="text" name="question">  
  </label>
  <br>
  <button>Ask Question</button>

</form>
<br>
<br>
<br>

<h2></h2>
<form action="/random">
  <label for="">
    Pick a random number and we will see if it is the same as ours:
    <br>
    <input type="text" name="number">  
  </label>
  <br>
  <button>Check number</button>

</form>