

<h2>Welcome to the Funnies Page</h2>
<p>
<%= @title %>
</p>


<%# <img src="/assets/pokerdogs.jpg" alt=""> %>


<%= image_tag 'pokerdogs.jpg', alt: 'Poker dogs', class: 'dogs', id: 'pokerdoggos', madeupattributename: 'hi' %>


 