<h2>Rock Paper Scissors</h2>
<nav>
    <a href="/">Home</a>
    |
    <a href="/magic8ball">Magic 8 Ball</a>
    |
    <a href="/secretnumber">Secret Number</a>
</nav>
<hr>
<h3>PICK YOUR FIGHTER!</h3>
<form action="/rps/result">
    <button type="submit" name="fighter" value="rock">Rock</button>
    <button type="submit" name="fighter" value="paper">Paper</button>
    <button type="submit" name="fighter" value="scissors">Scissors</button>
</form> 