<nav>
    <a href="/">Home</a>
    |
    <a href="/magic8ball">Magic 8 Ball</a>
    |
    <a href="/secretnumber">Secret Number</a>
</nav>
<hr>

<h2>The Results are in!</h2>

<h5>You chose: <strong><%= params[:fighter] %></strong></h5>
<h5>CPU chose: <strong><%= @cpu %></strong></h5>
<br>
<h4> <%= @result %> </h4>

<form action="/rps">
    <button type="submit">Play again?</button>
</form>