@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

#content {
  max-width: 1080px;
  text-align:center;
}

#nav {
  margin-top: 100px;
  text-align: center;
}

#title {
  color: #F52F4F;
  font-family: 'Oleo Script', cursive;
  font-size: 50px;
}

#checking {
  display:inline-block;
  margin:30px;
}

#savings {
  display:inline-block;
  margin:30px;
}

.account {
  background-color: #6C9A74;
  border: 1px solid #295A33;
  padding: 10px;
  margin: 0 auto;
}

.balance {
  background-color: #E3E3E3;
  border: 1px solid #676767;
  font-family: 'Ruluko', sans-serif;
  font-size: 50px;
  padding: 25px 0;
}

.clear {
  clear: both;
}

.zero {
  background-color: #F52F4F;
  color: #FFF;
}
