<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Movie Finder</title>
</head>
<body>
  <header>
    <%# title and form will be on every page %>
    <h1>
      <a href="/">MOVIE FINDER</a>
    </h2>
    <form action="/results" class="searchForm">
      <input type="text" name="title" placeholder="Search movie" required>
      <button type="submit">Search</button>
    </form>

  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>