<section class='container'>
    <div class="dashboard-title">
        <h1> Add New Language</h1>
    </div>
    <div class="grid-add card">
   <form action="/add" method="post">
      <label for="name" >Language Name</label>
      <input id="name" name="name" type="text">

      <label for="age">Created By</label>
      <input id="created_by" name="created_by" type="text">

      <label for="description" >Description</label>
      <input id="description" name="description" type="text">

      <label for="job">Alive</label>
      <input id="alive" name="alive" type="text">

      <label for="age">Year Created</label>
      <input id="created" name="created" type="text">

      <label for="logo">Logo</label>
      <input id="logo" name="logo" type="text">

      <button>Submit</button>
    </form>
    </div>
</section>