<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>World's roundest pets</title>
</head>
<body>
    
<nav>
<h1>Round Pets of the World</h1>
<a href="/">Home</a>
|
<a href="/pets/new">Add Pet</a>
<hr>
</nav>

<section>
<%= yield %>
</section>

<footer>
<hr>
    &copy; Round Boys Productions 2022 
</footer>

</body>
</html>