<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    

    <title>Rental Travel & Cost Calc</title>
</head>

<body>  
    <div id=main>
        <h1>Rental Property Cost and Travel Scrapper</h1>
        <a href="/rental">Rentals</a>
        <a href="/rental/create">Create a new Rental</a>
        <a href="/rental/travel">Calculate Travel Time</a>
        <a href="/destination">Destinations</a>
        <%= yield %>
    </div>
    
</body>
</html>