<form action="/movies" method="post">
<h2>ADD NEW MOVIE</h2>

    <label>
        Name:
        <input type="text" name="name" >
    </label>
    <br>
    <label>
        Genre:
        <input type="text" name="genre" >
    </label>
    <br>
    <label>
        Release Year:
        <input type="text" name="release_year" >
    </label>
    <br>
    <label>
        Overview:
        <input type="text" name="overview" >
    </label>
    <br>
    <label>
        Poster URL:
        <input type="text" name="poster_url" >
    </label>
    <br>
    <button>Create Movie</button>







</form>