<form action="/studios" method="post">
<h2>ADD NEW STUDIO</h2>

    <label>
        Name:
        <input type="text" name="name" >
    </label>
    <br>
    <label>
        Founded:
        <input type="text" name="foundation_year" >
    </label>
    <br>
    <label>
        Founders:
        <input type="text" name="founders" >
    </label>
    <br>
    <label>
        Headquarters:
        <input type="text" name="headquarters" >
    </label>
    <br>
    <label>
        Website:
        <input type="text" name="website" >
    </label>
    <br>
    <label>
        Studio Logo:
        <input type="text" name="studio_logo" >
    </label>
    <br>
    <button>Add Studio</button>

</form>