* {
    border: 0;
    margin: 0
}

header {
    background-color: whitesmoke;
    padding: 20px 0;
    text-align: center;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: green;
}

.yield {
    padding: 30px
}

.owner_image {
    width: 400px
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: white;
    padding: 30px
}