<h2>Fun Shortcut Details</h2>

<p>
    <strong>Name: </strong><%= @shortcut['name'] %>
</p>

<p>
    <strong>Shortcut: </strong><%= @shortcut['shortcut'] %>
</p>

<p>
    <strong>Power: </strong><%= @shortcut['power'] %>
</p>

<p>
    <strong>Benefit: </strong><%= @shortcut['benefit'] %>
</p>