<div><a href="/"><button>HOME!!!!!!!!</button></a><h1>ROCK PAPER SCISSORS</h1> </div>

<form action="/rockpaperscissors/shoot">
<button name="choice" value="ROCK">ROCK</button>
<button name="choice" value="PAPER">PAPER</button>
<button name="choice" value="SCISSOR">SCISSOR</button>
</form>

