<h2>Secret Number</h2>
<hr>
<nav>
    <a href="/">Home</a>
    |
    <a href="/magic8ball">Magic 8 Ball</a>
    |
    <a href="/rps">Rock Paper Scissors</a>
</nav>
<hr>

<h4>Pick a number between 1-10</h4>

<form action="/secretnumber/result">

    <button type="submit" name="guess" value="1">1</button>
    <button type="submit" name="guess" value="2">2</button>
    <button type="submit" name="guess" value="3">3</button>
    <button type="submit" name="guess" value="4">4</button>
    <button type="submit" name="guess" value="5">5</button>
    <button type="submit" name="guess" value="6">6</button>
    <button type="submit" name="guess" value="7">7</button>
    <button type="submit" name="guess" value="8">8</button>
    <button type="submit" name="guess" value="9">9</button>
    <button type="submit" name="guess" value="10">10</button>

</form>