<h1>Add a Brummy!</h1>

<form action="/famous_brummies" method="post">

    <label>
        Name:
        <input type="text" name="name">
    </label>
    <br><br>

    <label>
        Famous For:
        <input type="text" name="famous_for">
    </label>
    <br><br>
    
    <label>
        Year Born:
        <input type="text" name="year_born">
    </label>
    <br><br>

    <label>
        Year Died:
        <input type="text" name="year_died">
    </label>
    <br><br>

    <label>
        Born in Brum?
        <input type="text" name="born_in_brum">
    </label>
    <br><br>

    <label>
        Famous Brummy Rating (1-10):
        <input type="text" name="famous_brummy_rating">
    </label>
    <br><br>

    <label>
        Image URL:
        <input type="text" name="image_url">
    </label>
    <br><br>

    <button type="submit">Add New</button>

</form>