@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

:root {
  --main-width: 960px;
  box-sizing: border-box;
  font-family: 'Anton', sans-serif;
}

*{
  /* border: 1px solid rgb(249, 7, 241) */
}

header img {
  display: block;
  margin: 20px auto;
  width: 300px;
  animation: wiggle 2s;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  0% {transform: rotateZ(20deg);}
  50% {transform: rotateZ(-20deg);}
  100% {transform: rotateZ(20deg);}
}


main {
  width: var(--main-width);
  /* background: rgb(57, 57, 57); */
  margin: 0 auto;
  
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#result-count {
  font-size: 1.5em;
}

.movie-results {
  border: 4px solid rgb(0, 0, 0);
  padding: 10px;
}

.movie-results div{
  display: grid;
  grid-template-columns: 1fr 6fr;
}

.movie-results button {
  border: none;
  background: none;
}

.movie-results p {
  margin: 0;
}

.movie-results h3{
  font-size: 2em;
  margin: 0;
}
.movie-results strong {
  font-size: 1.5em;
}

#search-form {
display: flex;
align-items: center;
justify-content: center;

}

#search-form label {
  font-size: 5em;
}

#search-form input, #search-form button {
  height: 5em;
  padding: 0;
}