<h2>All Books</h2>

<ul>
    <% @books.each do |b| %>
        <li>
            <%= link_to book_path(b) do%>
                <% if b.image.present? %>
                    <%= image_tag(b.image, class: "icon") %>
                    <br>
                    
                <% end %>
                    
                <%= b.name %>
            <% end %>
        </li>
    <% end %>
</ul>
