.poster_image{
   
    height: 400px;
    width:auto;
    left:0px;
    margin:20px 550px 20px 10px;
}

.studio_logo{
    height: 200px;
    width:auto;
    left:0px;
    margin:20px 550px 20px 10px;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}