body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;

  li {
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(221, 221, 221);
    padding: 20px;
  }
}

.imgContainer {
  width: 200px;
  height: 200px;
  margin: 0 auto 30px;
}

img {
  width: 200px;
}

h3 {
  text-align: center;
}
