<form action="/" method="post">
  <label>
    TODO: 
    <input type="text" name="todo" placeholder="Write your todo">
  </label>
  <label>
    DUE DATE:
    <input type="date" name="dueDate">
  </label>
  <label>
    DESCRIPTION: 
    <input type="text" name="description" placeholder="What is this about?">
  </label>
  <label>
    COMPLETED:
    <input type="radio" name="completed">
  </label>
  <button type="submit">Create</button>
</form>