* {
    border: 0;
    margin: 0
}

body {
    font-family: 'Rajdhani', sans-serif;
    background-color: rgb(25,30,43);
    color: white;
}

.mainBody {
    position: relative;
    flex-direction: row;
    padding: 200px 15% 50px 15%;
}

.homepageImage {
    width: 300px;
}

.flexWrapper {
    display: flex;
    flex-direction: row;
}

.nftImageWrap {
    display: flex;
    width: 50%;
}

.nftDetailsWrap {
    width: 50%;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.individualPageImage {
    margin: 0 5% 0 5%;
    border: 3px solid grey;
    border-radius: 3%;
    width: 90%
}

ul {
    list-style: none;
}

li {
    margin-bottom: 30px;
}

header {
    z-index: 2;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    display: flex;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: 'Rajdhani', sans-serif;
    background-color: #0F1118;
    padding: 0 2% 0 2%;
    border: 5px solid rgb(117, 124, 142);
    border-top: none;
    border-left: none;
    border-right: none;
}

.wallet {
    text-align: right;
    width: 30%;
    position: relative;
    align-self: center;
    flex-direction: row;
}

nav {
    width: 70%;
    padding: 30px;
    position: relative;
    align-items: center;
    flex-direction: row;
}

header a {
    padding-right: 20px;
    text-decoration: underline;
    text-decoration-thickness: 5px;
    text-underline-offset: 35px;
    align-items: center;
    color: rgb(117, 124, 142);
}

header a:hover {
    color: #22D1E9;
}

.smallNftNumber {
    color: rgb(117, 124, 142);
    font-weight: 700;
    font-size: 16px;
}

.nftIndividualDetails {
    display: flex;
}

.leftDetails {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.rightDetails {
    color: #22D1E9;
    display: flex;
    flex-direction: column;
}



.nftListingButton {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

button.listing {
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 0px;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(20,181,203);
}

button.listing:hover {
    background-color: rgb(34,209,233);
}

.metaDetails {
    display: block;
    padding-top: 24px;
    margin-top: 32px;
    border-top: 2px solid rgb(117, 124, 142);
}

.grid {
    font-family: 'Open Sans', sans-serif;;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
}

.gridColumn {
    display: flex;
    padding: 28px;
    background-color: rgb(14,17,24);
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 5px;
}

footer {
    font-family: 'Open Sans', sans-serif;
    padding: 20px 20px;
    border-top: rgb(117, 124, 142) 1px solid;
    height: 50px;
    display: flex;
    position: relative;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

footer a:hover {
    color: rgb(34,209,233);
}

.termsandconditions {
    text-align: left;
}

.privacy {
    margin-left: 12px;
    margin-right: 12px;
}

p.propTitle {
    line-height: 24px;
    font-weight: 700;
}

p.prop {
    line-height: 24px;
    font-weight: 400;
    margin-top: 2px;
}

.pageContainer {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    min-width: 270px;
    max-width: 330px;
    width: 30%;
}

.nftsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inventoryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px 16px;
}

.internalGridLink {
    text-decoration: none;
    display: flex;
    height: 100%;
}

.gridAsset {
    display: flex;
    flex-direction: column;
    outline: none;
    padding: 0px;
    text-decoration: none;
    border-width: 1px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(76, 80, 93);
    position: relative;
    overflow: hidden;
    width: 100%;
}

.assetImage img {
    max-width: 100%;
}

.assetDetails {
    width: 100%;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-height: 96px;
    background-color: rgb(28, 31, 39);
}

.assetDetails2 {
    display: flex;
    flex-direction: row;
}

.assetDetails3 {

    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-direction: column;
}

.span1 {
    color: rgb(193, 193, 193);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    font-style: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;

    text-decoration: none;
}

.span2 {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    font-style: normal;
    margin-top: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(246, 246, 246);
    text-decoration: none;
    min-height: 34px;
}