html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  background-image: url("space.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.flex {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip {
animation:spin 1.5s linear infinite;
}

@keyframes spin { 
100% { 
  -webkit-transform: rotate(360deg); 
  transform:rotate(360deg); 
} 
}