body {
    background-color: lightgray;
    padding: 0 5% 0 5%;
}

h3 {
    font-size: 3em;
}

h4 {
    font-size: 2em;
}

.filmOverview {
    display: grid;
    grid-template-columns: 1fr 4fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

img.filmPoster {
    width: 140px;
    justify-self: center;
}

.spacer {
    padding-top: 20px;
}

.film_title {
    font-size: 2em;
    font-weight: 800;
}

.film_description {
    font-size: 1.2em;
}