body {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  background: url("https://content.api.news/v3/images/bin/9c38802b693df8f35dc06c80c27f9997");
  background-size: cover;
  position: relative;
}

img {
  position: absolute;
}

.catCoding {
  width: 400px;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.rainbow {
  width: 340px;
  height: 340px;
  border-radius: 50%;
  background: url("https://cdn.pixabay.com/photo/2021/02/11/19/43/rainbow-6006300_1280.png");
  background-repeat: no-repeat;
  background-size: cover;

  position: absolute;
  top: 20%;
  left: 42%;
  z-index: 99;

  animation: scale 1s infinite;
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.rainbow > .purpleBg {
  width: 240px;
  height: 240px;
  background: rgb(194, 40, 255);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.tromboneCat {
  bottom: 0;
}
.tromboneCat.flip {
  transform: scaleX(-1);
}

.cryingCat {
  width: 200px;
  right: 0;
  bottom: 0;
}

.ridingCat {
  z-index: 101;
}
.ridingCat.flip {
  transform: scaleX(-1);
}

.js_logo,
.ruby_logo,
.css_logo {
  width: 100px;
  bottom: 0;
  left: 20%;
  animation: rotate 5s infinite;
}

.ruby_logo {
  left: 70%;
  top: 0;
  animation: rotate 3s infinite;
}

.css_logo {
  left: 30%;
  animation: rotate 2s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
