<h1>Add New Team</h1>



<form action="/teams" method="post">

    <label>
        Franchise: 
        <input type="text" name="franchise" value="">
    </label>
    <br>

    <label>
        Price: 
        <input type="text" name="price" value="">
    </label>
    <br>

    <label>
        Year Last Sold: 
        <input type="text" name="year" value="">
    </label>
    <br>
    
    <input type="submit" value="Add">


</form>