html, body {
  margin: 0
}

.hide{
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&display=swap');
:root {
  box-sizing: border-box;
  --main-width: 1000px;
  font-family: 'Asap', sans-serif;
}
@media screen and (max-width: 1100px){
  :root{
    --main-width: 90vw;
  }
}

header {
  width: var(--main-width);
  margin: 0 auto 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#page-wrapper{
  margin: 0 auto;
  width: var(--main-width);
}

.results-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}