

<br><br><br><br>
<h1>Pick a number...</h1>

<form class="numbers-form" action="/secretnumber/result" method="get">

  <div class="radio-wrapper">
    <label class="numbers-label">
      1
      <input type="radio" name="choice" value="1">
    </label>
    <label class="numbers-label">
      2
      <input type="radio" name="choice" value="2">
    </label>
    <label class="numbers-label">
      3
      <input type="radio" name="choice" value="3">
    </label>
    <label class="numbers-label">
      4
      <input type="radio" name="choice" value="4">
    </label>
    <label class="numbers-label">
      5
      <input type="radio" name="choice" value="5">
    </label>
    <label class="numbers-label">
      6
      <input type="radio" name="choice" value="6">
    </label>
    <label class="numbers-label">
      7
      <input type="radio" name="choice" value="7">
    </label>
    <label class="numbers-label">
      8
      <input type="radio" name="choice" value="8">
    </label>
    <label class="numbers-label">
      9
      <input type="radio" name="choice" value="9">
    </label>
    <label class="numbers-label">
      10
      <input type="radio" name="choice" value="10">
    </label>
  </div>
  <br><br>
  <button class="number-button"><%= image_tag 'axe', width: 100 %></button>

</form>