<div><a href="/"><button>HOME!!!!!!!!</button></a><h1>SECRET NUMBER</h1> </div>


<form action="/secretnumber/answer">

<div class="snbutt">
<button name="num" value="1">1</button>
<button name="num" value="2">2</button>
<button name="num" value="3">3</button>
<button name="num" value="4">4</button>
<button name="num" value="5">5</button>
<button name="num" value="6">6</button>
<button name="num" value="7">7</button>
<button name="num" value="8">8</button>
<button name="num" value="9">9</button>
<button name="num" value="10">10</button>
</div>








</form>