<h1>WELCOME TO HELL!!!!11</h1>

<h3>SELECT A GAME IF YOU DARE</h3>


<%# <form action="/game"> %>
<a href="/8ball">
<button type="submit" name="8bball">Magic 8 Ball</button>
</a>
<a href="/secretnumber">
<button type="submit" name="secretnumber">Secret Number</button>
</a>
<a href="/rockpaperscissors">
<button type="submit" name="rockpaperscissors">Rock Paper Scissors</button>
</a>
<%# </form> %>