<h3>Create a new item</h3>

<form action="/items" method="post">

<label for="name">Name:</label>
<input type="text" name="name">

<label for="cost_price">Cost Price:</label>
<input type="number" step="0.01" min="0" name="cost_price">

<label for="retail_price">Retail Price:</label>
<input type="number" step="0.01" min="0" name="retail_price">

<label for="priced_by">Priced By:</label>
<input type="text" name="priced_by">

<label for="taxable">Taxable:</label>
<input type="checkbox" name="taxable">

<label for="image_url">Image URL:</label>
<input type="text" name="image_url">

<label for="description">Description:</label>
<textarea name="description" cols="30" rows="10"></textarea >

<label for="shop_id">Available At: </label>
<% shops = Shop.all %>
<select name="shop_id" selected="">
  <option value="">Select a shop</option>
  <% shops.each do |shop|%>
    <option value="<%= shop.id %>"><%= shop.name %></option>    
  <% end%>
</select>


<button class="update-button">Update</button>

</form>