<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>All The Shops</title>
</head>
<body>
  <main>
    <nav>

      <a href="/" id="main-heading">All The Shops</a>
      <ul>
      <li><a href="/shops">Shops</a></li>
      <li><a href="/items">Items</a></li>
      </ul>
      <hr>
    </nav>
    <%= yield %>
  </main>
</body>
</html>