<h1>The game is Paper, Scissors, Rock. YOu know how to play so make your move!</h1>

<form action="/outcome">
  <label for="">
    Your move: Paper | Scissors | Rock
    <input type="text" name="move">
  </label>
  <button>Play move!</button>
</form>

