<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/axios.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/main.js" defer></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>NASA & GOOGLE MAPS SEARCH</title>
</head>
<body>
    <div class="container">
        <div id="app">
            <!-- THIS IS WHERE THE VUE BEGINS -->
            <h1>Search for Satellite images!</h1>
    
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button @click="switchTabs" :class="geoCodeNavClass" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" >Search Geocodes</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button @click="switchTabs" :class="searchMapsNavClass" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button">Get Maps</button>
                </li>
            </ul>
            
            <!-- GENERATE GEO CODE FORM -->
            <div v-if="show" :class="geoCodeClass" id="profile" role="tabpanel" aria-labelledby="profile-tab" >
                <form @submit="generateGeoCodes">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                        <label class="form-label">Address</label>
                        <input type="text" v-model="address" class="form-control" >
                        <button class="btn btn-primary">Convert to Geo Codes</button>
                        </div>  
                    </div>
                </form>
            </div>

            <!-- LATITUDE & LONGITUDE QUERY FORM -->
            <div v-else :class="searchMapsClass" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p id="error"></p>
                
                <form @submit="searchMaps" id="search">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label class="form-label">Latitude</label>
                            <input type="number" id="lat" class="form-control" :value="lat" step="any">
                            <label class="form-label">Longitude</label>
                            <input type="number" id="lon" class="form-control" :value="lng" step="any">
                            <button class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>

            <div id="output">
                <h3>{{title}}</h3>
                <iframe width="400" height="300" style="border:0" loading="lazy" :src="googleURL"></iframe>
                <img :src="nasa_img" class="result">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>