<h3>Welcome Secret Number Game<h3>

  


  <form action="/secretnum/results">
    <label class='question'>Guess the secret number from 1 - 100</label>
    <input type='text' name='question'>
    <button>submit</button>
  </form>
