<h1>Random Number: <%= @randomNum %></h1>
<h1>Guess: <%= @answer %></h1>

<% if @randomNum == @answer %>
    <h2>Congrats</h2>
<% else %>
    <h2>Unluggy</h2>
<% end%>

<a href="/secret/">
<button>Try again</button>
</a>