<h1>Guess a number</h1>

<a href="/secret/1" method="get"><button>Guess: 1</button></a>
<a href="/secret/2" method="get"><button>Guess: 2</button></a>
<a href="/secret/3" method="get"><button>Guess: 3</button></a>
<a href="/secret/4" method="get"><button>Guess: 4</button></a>
<a href="/secret/5" method="get"><button>Guess: 5</button></a>
<a href="/secret/6" method="get"><button>Guess: 6</button></a>
<a href="/secret/7" method="get"><button>Guess: 7</button></a>
<a href="/secret/8" method="get"><button>Guess: 8</button></a>
<a href="/secret/9" method="get"><button>Guess: 9</button></a>
<a href="/secret/10" method="get"><button>Guess: 10</button></a>