<h2>Welcome to Calc Me To The Moon</h2>

<form action="/calc/results">

    <label>First number:
    <input type="text" name="first">
    </label>
    <br>

    <label>Operator:
    <input type="text" name="operator">
    </label>
    <br>

    <label>Second number:
    <input type="text" name="second">
    </label>
    <br>

    <button>Calculate!</button>

</form>