<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate me to the moon</title>
</head>
<body>

    <nav><a href="http://localhost:4567/calc/form">Home</a></nav>

    <hr>

    <%# plug in the specific template file that was initially requested%>

    <%= yield %>

    <hr>

    <footer>
        <p>Copyright Dan's Productions 2021</p>
    </footer>

</body>
</html>