<h3>Make a new balloon</h3>

<form action="/balloons" method="post">

  <label>
    Type: 
    <input type="text" name="type"> 
  </label>
  <br>
  <label>
    Style: 
    <input type="text" name="style"> 
  </label>
  <br>
  <label>
    Size: 
    <input type="text" name="size"> 
  </label>
  <br>
  <label>
    Fun Factor: 
    <input type="text" name="fun_factor"> 
    (0-10)
  </label>
  <br>
  <label>
    Exciting: 
    <input type="text" name="exciting"> 
    (1 = true, 0 = false) 
  </label>
  <br>
  <label>
    Image Url: 
    <input type="text" name="image_url"> 
  </label>
  <br>
  <button>Submit</button>
  








</form>