<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Koktailed</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
</head>
<body>
<nav>
  <h1>Welcome to Koktailed</h1>
  <h2>An ever growing database of your favorite cocktails</h2>

  <a href="/cocktails">Home</a>
  |
  <a href="/cocktails/new">Add a new Drink</a>

</nav>
<div class="wrapper">
  <section>
    <%= yield %>
  </section>


  <footer>
    <hr>
    &copy; Koktail AF 2020
  </footer>

</div>


  
</body>
</html>