<div id="search-page">
  <h3>Search by keyword</h3>
  <form action="/search/results">
    <label>
      Title:
      <input type="text" name="original_title" />
    </label>
    <button>Search</button>
  </form>
  <div></div>
</div>
