
<br><br><br><br>
<h2>What are you dying to know?</h2>
<form action="/magic8ball/answer" method="get">
  <input type="text" name="question" placeholder="Ask me anything...">
  <br><br>
  <button id="ball-button"><%= image_tag 'ball', width: 100 %></button>
</form>