<h2>Screet Number</h2>
<form action="/secret_number/result">
  <select name="user_input" id="">
    <% 10.times do |i| %>
      <option value=<%= i+1%>><%= i+1%></option>
    <% end %>
  </select>
  <button type="submit">send</button>
</form>