enter nums plz


<form action="/calc/answer" method="get">

<label>
    First Num: 
    <input type="text" name="first">
</label>

<label>
    Op:
    <input type="text" name="op">
</label>

<label>
    Second Num:
    <input type="text" name="second">
</label>


<button>CALCULATE!</button>

</form>