<div class="nav">
<form action="/search/movie">
    <input type="text" name="movie_name" placeholder="Search your favorite movie"  required/>
    <button type="submit" class="submit-btn">Search </button>
  </form>
  <form action="/search/results">
    <button type="submit" class="submit-btn">Show Populars</button>
  </form>
</div>

