<div class="grid-info">
<img src="http://image.tmdb.org/t/p/w500/<%=@result['poster_path']%>" onerror="this.onerror=null;this.src='https://placeimg.com/185/285/animals';" />
  <div> 
    <h3><%= @result["title"]%></h3>
     <p > 
      <%= @result["overview"]%>
    </p>
  </div>
</div>