<h1 class="newMintH1">List New NFT</h1>

<div class="mintBody">    

        <form class="mint" action="/nfts/inventory" method="post">
                <div>
                    <label>
                        <div class="leftFormColumn">
                            <h3>Project Name:</h3>
                        </div>
                        <div class="rightFormColumn">
                            <input type="text" name="project_name" value="Immutable Apes X">
                        </div>
                    </label>
                    <br>
                </div>

                <div>
                    <label>
                        <div class="leftFormColumn">
                            <h3>Last Purchase Price:</h3>
                        </div>
                        <div class="rightFormColumn">
                            <input type="text" name="last_purchase_price" value="">
                        </div>
                    </label>
                    <br>
                </div>

                <div>
                    <label>
                        <div class="leftFormColumn">
                            <h3>Owned:</h3>
                        </div>
                        <div class="rightFormColumn">
                            <input type="checkbox" name="owned" value="true" checked>
                        </div>
                    </label>
                    <br>
                </div>

                <div>
                    <label>
                        <div class="leftFormColumn">
                            <h3>For Sale:</h3>
                        </div>
                        <div class="rightFormColumn">
                            <input type="checkbox" name="for_sale" value="false">
                        </div>
                    </label>
                    <br>
                </div>

                <div>
                    <label>
                        <div class="leftFormColumn">
                            <h3>Asking Price:</h3>
                        </div>
                        <div class="rightFormColumn">
                            <input type="text" name="asking_price" value="">
                        </div>
                    </label>
                    <br>
                </div>

                <div>
                    <label>
                        <div class="leftFormColumn">
                            <h3>Image URL:</h3>
                        </div>
                        <div class="rightFormColumn">
                            <input type="text" name="image_route" value="">
                        </div>
                    </label>
                    <br>
                </div>

                <div>
                    <label>
                        <div class="leftFormColumn">
                            <h3>Previous Owner:</h3>
                        </div>
                        <div class="rightFormColumn">
                            <input type="text" name="previous_owner" value="">
                        </div>
                    </label>
                    <br>
                </div>

        <input class="mintButton" type="submit" value="List New NFT">

        </form>

</div>