<h1>Add New Owner</h1>



<form action="/owners" method="post">

    <label>
        Name: 
        <input type="text" name="name" value="">
    </label>
    <br>

    <label>
        Age: 
        <input type="text" name="age" value="">
    </label>
    <br>

    <label>
        Wealth: 
        <input type="text" name="wealth_m" value="">
    </label>
    <br>

    <input type="submit" value="Add">


</form>