<h1>Welcome to Rock Paper Scissors Game!</h1>

<a href="/">Home</a>

<form action="/rock_paper_scissors/shoot">

<label>
    <input type="text" name="user_pick" >
</label>

<button>Rock,Paper,Scissors...SHOOT!!</button>
</form>