<h1>Welcome to Rock Paper Scissors Game!</h1>

<a href="/">Home</a>
<hr>

<h3>rock, paper, scissors ... shoot!!</h3>

<p>You shoot:</p>
<%= params[:user_pick].downcase %>

<p>I shoot:</p>
<%= @server %>
<%= @message %>
