<section class="container">
    <div class="content-center">
        <div class="title"> <h1>  <%= @message == 'draw' ? 'Draw' : 'Winner '+@message  %></h1> </div>
        <div> <h2>Player 1: <%= @p1 %> <br> 
        Player 2: <%= @p2 %> </h2>    </div>
     </div>
</section>