
<% if @guess == @secret %>
    <h4>Correct! <%= @guess %> is indeed the correct answer!</h4>
<% else %>
    <h4>Wrong! <%= @guess %> is not the correct answer!</h4>
<% end %>


<a href="/secretnumber">Play another game!</a>