@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  text-align: center;
  background-color: rgb(139, 139, 139);
  color: white;
  font-family: "Anton", sans-serif;
}

.eightball {
  height: 700px;
  width: 700px;
  background-color: black;
  border-radius: 50%;
  position: relative;
  float: left;
  left: 30%;
  margin-top: 70px;
  box-shadow: 5px 10px rgb(185, 184, 184);
}
h1 {
  margin: 110px 0 0 0;
  font-size: 100px;
}
h2 {
  font-size: 40px;
  margin: 0;
  color: yellow;
}

.container {
  margin-top: 90px;
}

input {
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}

h3 {
  margin-top: 90px;
  font-size: 70px;
}

span {
  color: yellow;
}

p {
  font-size: 30px;
  color: black;
}

.answer {
  background-color: white;
  border-radius: 70%;
  opacity: 70%;
  width: 250px;
  height: 100px;
  position: relative;
  float: left;
  left: 33%;
}
