<h1>Welcome to Magic 8 Ball Game!</h1>

<a href="/">Home</a>

<h2>What's your Question?</h2>
<form action="/magic8ball/replyback">

    <label>
        <input type="text" name="question" id="">
    </label>

    <button>Ask me!</button>

</form>
