<h1>Welcome to Games on RAILS</h1>

<h3>Choose game:</h3>
<a href="/magic8ball">Magic 8 Ball</a>
<br>
<br>
<a href="/secret_number">Secret Number</a>
<br>
<br>
<a href="/rock_paper_scissors">Rock Paper Scissors</a>