
/* RESET MARGIN PADDING */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Basic style for the whole html and body */
html,body{
    width: 100%;
    height: 100%;
    background-color: var(--background-body-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}
.biography h1{
    font-weight: 300;
}

.dennis-img{
    width: 300px;
    margin: auto;
    max-width: 100%;
    border-radius: 50%;
    filter: saturate(0%);
    transition: 1s ease;
}

.dennis-img:hover{
    filter: saturate(150%)
}  

.biography {
    top: 50px;
}

.bio-paragraph p:nth-child(2){
    min-width: 200px;
    max-width: 700px;
    text-align:j;
}

.grid-2{
    grid-template-columns: repeat(2,1fr);
}

.languages .flex{
    justify-content: space-evenly;
}

.paragraph {
    font-size: 18px;
    margin: auto;
    line-height: 1.8em;
    text-align: justify;
    color: var(--light-color);
}

.dennis-steve h1{
    font-weight: 300;
}

.languages h1{
    font-weight: 300;
    
}

.languages img{
    padding: 30px 0px 30px 0px;
    filter: saturate(0%);
    transition: 1s ease;
}

.languages img:hover{
    cursor: pointer;
    filter: saturate(100%);
    transform: translateY(-10px);
}  

.lifeAchievements{
    flex-direction: column;
}

.showContent{
    opacity: 0;
}

.showBiography{
    opacity: 0;
}

.lifeAchievements h2{
    font-weight: 300;
    padding-bottom: 10px;
}

/*NAV-BAR*/

.navbar{
    color: var(--light-color);
    background-color: #000;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 1;
}
.navbar ul{
    display: flex;
}
.navbar .flex{
    padding: 20px;
    justify-content: flex-end;
    align-items: center;
 }

.navbar a{
    color: var(--light-color);
    padding: 10px;
    margin: 0 5px;
    transition:  1s;
}

.navbar a:hover{
    color: var(--primary-color);
    border-bottom: 1px var(--primary-color) solid;
}
  blockquote p {
    display: inline;
  }blockquote {
    overflow: hidden;
    font-style: italic;
    min-width: 300px;
    max-width: 500px;
    color: var(--light-color);
    margin: auto;
    line-height: 2.1em;
    font-size: 1.2em; 
    padding-bottom: 25px;
  }
  blockquote:before {
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.1em;
    vertical-align: -0.4em;
  } 
  blockquote:after {
    content: close-quote;
    font-size: 4em;  
    line-height: 0.1em; 
    margin-left: 0.1em;
    vertical-align: -0.5em;
  } 
  blockquote p {
    display: inline;
  }

footer{
    padding: 10px;
    font-size: 20px;
    font-weight: 200;
}

@media(max-width: 768px){
    .grid, .grid-2{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr; 
     }

     .dennis-steve {
         margin:0 auto;
     }

     .flex{
        flex-direction: column;
     }
}

