<h1>REALLY FUN GAMES ON RAILS</h1>
<hr>
<nav>
    <a href="/">Home</a>
    |
    <a href="/magic8ball">Magic 8 Ball</a>
    |
    <a href="/secretnumber">Secret Number</a>
    |
    <a href="/rps">Rock Paper Scissors</a>
</nav>
<hr>

<p>
    REALLY FUN PLACE WITH REALLY COOL FUN GAMES THAT WERE SUPER ENJOYABLE TO CODE AND HARDLY TOOK ANY TIME AT ALL HAHA WOO SUPER FUN YAY!
</p>