<h1>Guess the Secret Number</h1>

<form action="/secret_number/results">
    <label>
    <h2>Pick a number between 1 and 10</h2>
    <input type="text" name ="answers">
    


    </label>
    <br>
    <button>Guess?</button>

</form>
