<h2>Add more casts</h2>

<div class="index_css">
    <form action="/casts" method="post">

        <label>
            Name<br>
            <input type="text" name="name" required>
        </label>
        <br>
        <label>
            Born<br>
            <input type="text" name="born" required>
        </label>
        <br>
        <label>
            Awards <br>    
            <input type="text" name="award" required>
        </label>
        <br>
        <label>
            Image <br>
            <input type="text" name="image_url">
        </label>
        <br>

        <button>Add cast</button>




    </form>
</div>