<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>movies</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@1,900&display=swap" rel="stylesheet">


</head>
<body>
    <header>
        <p class = "heading">WRITTEN AND DIRECTED BY</p>
        <h1> QUENTIN TARANTINO</h1>
    
    </header>
  
<div class="links">
    <a href="/" id="main_link">Home</a>
    <a href="/movies" id="main_link">Movies</a>
    <a href="/casts" id="main_link">Casts</a>
    <a href="/movies/new" id="main_link">Add movies</a>

    <a href="/casts/new" id="main_link">Add casts</a>
</div>


    
    <%= yield %>

    <footer>
        made by cassssss
    </footer>
</body>
</html>