<h2>Add more movies</h2>
<br>
<div class="index_css">

    <form action="/movies" method="post">
        
        <label>
            Title<br>
            <input type="text" name="title" required>
        </label>
        <br>


        <label>
            Release Year <br>
            <input type="text" name="release" required>
        </label>
        <br>

        <label>
            Running Time <br>
            <input type="text" name="duration" required>
        </label>
        <br>

        <label>
            Rating <br>
            <input type="text" name="rating" required>
        </label>
        <br>

        

        <label>
            Image URL <br>
            <input type="text" name="image_url">
        </label>
        <br>

        <label>
            Video URL <br>
            <input type="text" name="video_url">
        </label>
        <br>

        <button>Add movie</button>

    </form>
</div>  