<section>
    <div class='tags'>
        <ul>
            <% @tags.each do |tag| %>
                <%= link_to tag, tag_path(tag)  %>
                <br>
            <% end %>
        </ul>
    </div>
    <div class = 'main'>
        <h2>Index of Artworks</h2>

        <ul>
            <% @artworks.each do |artwork| %>
                <li>
                <%= link_to artwork_path(artwork.id) do %>
                    <%= image_tag(artwork.image_url, class: 'icon') %>
                    <br>
                    <%= artwork.name %>
                <% end %>
            </li>   
            <% end %>
        </ul>
    </div>
</section>