<h3>Add New Gundam Info</h3>
<form action="/gundams" method = "post">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  <label>
    Model Number:
    <input type="text" name="model_number">
  </label>
  <br>
  <label>
    Pilot:
    <input type="text" name="pilot">
  </label>
  <br>
  <label>
    Designer:
    <input type="text" name="designer">
  </label>
  <br>
  <label>
    Power Sources:
    <input type="text" name="power_sources">
  </label>
  <br>
  <label>
    Height:
    <input type="text" name="height">
  </label>
  <br>
  <label>
    Image URl:
    <input type="text" name="image_url">
  </label>
  <br>

  <button>Create New Gundam</button>

</form>