<h3> Add new bears </h3><h3>Add New bear</h3>
<form action="/bears" method="post">
  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>
  <label>
    Description:
    <input type="text" name="description">
  </label>
  
  <br>
  <label>
    Age:
    <input type="text" name="age">
  </label>
  <br>
  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>
  <br>
  <button>Create Bear</button>
</form>