<div><a href="/"><button>HOME!!!!!!!!</button></a><h1>8BALL</h1> </div>


<form action="/8ball/answer">

<label>
ASK YOUR QUESTION!!
<input type="text" name="question"> 
<br>
</label>

<button>submit</button>

</form>