<h3>Add New Manufacturer</h3>

<form action="/manufacturers" method="post">

    <label>
        Name:
        <input type="text" name="name" value="">
    </label>
    <br>

    <label>
        Location:
        <input type="text" name="location" value="">
    </label>
    <br>

    <label>
        Year Established:
        <input type="text" name="date_established" value="">
    </label>
    <br>

    <input type="submit" value="Add">

</form>