<h3>Add New Watches</h3>

<form action="/watches" method="post">
    <label>
        Name:
        <input type="text" name="name">
    </label>
    <br>

    <label>
        Still in Production?:
        <input type="text" name="production">
    </label>
    <br>
    
    <label>
        Diameter:
        <input type="text" name="diameter">
    </label>
    <br>    

    <label>
        Movement:
        <input type="text" name="movement">
    </label>
    <br>

    <label>
        Year of Production:
        <input type="text" name="year_made">
    </label>
    <br>

    <label>
        Current Price:
        <input type="text" name="current_price">
    </label>
    <br>

    <label>
        Image URL:
        <input type="text" name="image_url">
    </label>

    <button>Submit Watch</button>
</form>