<%# "here is: #{params}"
    @num_1 
    @num_2 
    @num_3
    "#{@num_1}"
    erb :calc_functions %>
<p> 
The results of your calculation: 
<%= @first_num %>
<%= @op %>
<%= @second_num  %>
=
<%= @result  %>

</p>