
<h2>WELCOME TO HELL!!!!!!!!!!!1</h2>

<form action="/calc/results">

    <label>
        First Number:
        <input type="text" name="first">
    </label>
    <br>
    <label>
        Operator:
        <input type="text" name="operator">
    </label>
    <br>
    <label>
        Second Number:
        <input type="text" name="second">
    </label>
    <br>

    <button>Calculate!</button>


</form>