<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Calculator</title>
    </head>

    <body>


<nav>
    <h1>Hello from the layout.erb</h1>
    <hr>
</nav>
    <%# Plug in the specific template fole that was actually requested %>
    <%= yield %>
    

<hr>
<footer>
&copy; Infernal Device Productions 2022
</footer>


    </body>

</html>
