main > img {
  display: block;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

main > blockquote {
  width: fit-content;
  margin: 0 auto;
  box-shadow: 5px 5px 0px rgb(84, 136, 196);
  position: relative;
  top: -100px;
  color: black;
  font-style: italic;
  background: orange;
  padding: 10px;
}
